@model FavMeal.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="page-header">
    <h1 class="page-title">Dashboard</h1>
</div>

<div class="row">
    <div class="col-sm-6">
      @Html.Action("GetUserReviews", "Reviews")
    </div>
</div>