@{
    ViewBag.Title = "About";
}
<div class="page-header">
    <h1 class="page-title">About</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Project Defination</h3>
        <p>One of the interesting human nature is they love to taste new food and they can explore anywhere to get the best food. But the real challenge is to know where to go and how it will taste and is there any tasty and delicious food nearby. FavMeal is an online platform that will suggest one person about the best food and restaurant based on user review. As the suggested result is based on the user review, the result will be much more reliable with the time. In this platform crowd sourced data will be used and so visitors or user need to give information about foods and restaurant for their own purpose. More data, more accurate result.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Usage</h3>
        <ol>
            <li>Sharing food experience</li>
            <li>Getting best food suggestion</li>
            <li>Restaurant suggestion</li>
            <li>Knowing about new foods</li>
            <li>Follow the trend</li>
            <li>Finding places for hangout</li>
        </ol>
    </div>
    <div class="col-md-4">
        <h3>Target Group</h3>
        <ol>
            <li>Food loving people</li>
            <li>Youth and older people</li>
            <li>Restaurant owners</li>
        </ol>
    </div>
    <div class="col-md-4">
        <h3>Target Group</h3>
        <ol>
            <li>Uploading Review</li>
            <li>Checking Review</li>
            <li>Commenting on reviews</li>
            <li>Rating restaurants</li>
            <li>Searching for best restaurants</li>
            <li>Searching for best foods nearby</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Possibilities</h3>
        <ol>
            <li>A large amount of target users</li>
            <li>Data mining with a lot of data</li>
            <li>People’s food choice behavior analysis</li>
            <li>Lot of statistical data</li>
        </ol>
    </div>
    
    <div class="col-md-4">
        <h3>Technical Feasibility</h3>
        <ol>
            <li>No special infrastructure is needed</li>
            <li>Can be developed with available technologies</li>
            <li>Users or people just need internet connection and any smart device like computer, smart phone or tablet etc.</li>
            <li>Low development cost</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Technology Used</h3>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>Scope</th>
                <th>Technology name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Back-End</td>
                <td>Asp.Net MVC 5</td>
            </tr>
            <tr>
                <td>Front-End</td>
                <td>Bootstrap 3.0.0</td>
            </tr>
            <tr>
                <td>Database</td>
                <td>MsSql 2014</td>
            </tr>
            <tr>
                <td>miscellaneous</td>
                <td><a href="https://developers.google.com/places/">Google Place Api</a>, <a href="http://imgurapi.readthedocs.io/en/latest/">Imgur</a>, <a href="https://markjs.io/">Mark.js</a>, <a href="http://seiyria.com/bootstrap-slider/">Bootstrap Slider</a></td>
            </tr>
                <tr>
                    <td>Source Code</td>
                    <td><a href="https://github.com/Rahim373/FavMeal" target="_blank">Github</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>